langgraph
langchain
langchain-ollama
langchain-google-genai
elevenlabs
pydantic
python-dotenv
youtube-transcript-api
langchain-text-splitters
pydub
sqlalchemy
psycopg2-binary
langchain-groq
fastapi
fastapi[standard]